Binaries
Build
DerivedDataCache
TestBuilds
Intermediate
Saved
Restricted/NotForLicensees/
Windows
*.pub
*.zip
github
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Build.bat
BuildOutput
BuildOutput*
BuildScripts
run.txt
Android
.idea
*.bat
