name: Build Dedicated Server

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout project
      uses: actions/checkout@v4
      with:
        lfs: true  # если у тебя большие ассеты

    - name: Set up Git for Unreal
      run: |
        git config --global url."https://github.com/".insteadOf git@github.com:
        git config --global url."https://${{ secrets.EPIC_GITHUB_TOKEN }}@github.com/".insteadOf "https://github.com/"

    - name: Clone Unreal Engine 5.6
      env:
        GITHUB_TOKEN: ${{ secrets.EPIC_GITHUB_TOKEN }}
      run: |
        git clone -b 5.6 https://github.com/EpicGames/UnrealEngine.git
        cd UnrealEngine
        Setup.bat
        GenerateProjectFiles.bat

    - name: Build Unreal Engine
      run: |
        cd UnrealEngine
        msbuild UE5.sln /m /p:Configuration=Development /p:Platform="Win64"

    - name: Build Dedicated Server
      run: |
        cd UnrealEngine
        Engine\Build\BatchFiles\RunUAT.bat BuildCookRun ^
          -project="${{ github.workspace }}\Isotope2.uproject" ^
          -noP4 -server -serverconfig=Development ^
          -cook -allmaps -build -stage -pak -archive ^
          -archivedirectory="${{ github.workspace }}\BuildOutput"

    - name: Upload server artifact
      uses: actions/upload-artifact@v4
      with:
        name: Isotope2Server
        path: BuildOutput/**
